
*{
box-sizing: border-box;
}
html{
font-size: 10px;
}
body{
font-family: 'Lato', sans-serif;
background-color: #f6f6f6;
margin: 0;
padding: 0;
}
a{
text-decoration: none;
cursor: pointer;
}
.ul-normalize{
list-style: none;
padding: 0;
margin: 0;
}
h1{
text-align: center;
font-size: 3.4rem;
text-transform: uppercase;
font-weight: 700;
letter-spacing: 5px;
padding: 5px 10px ;
margin-top: 90px;
}
h1::after{
content: "";
position: relative;
display: block;
height: 4px;
width: 45px;
top:50%;
left: 50%;
transform: translate(-50%,-50%);
background-color:rgba(0,0,0,.1) ;
margin: 15px 0;
}
.title{
max-width: 570px;
margin: 0 auto;
font-size: 1.6rem;
font-weight: 300;
text-align: center;
margin-bottom: 50px;
line-height: 1.4;
}

h2{
margin: 16px 0;
font-size: 1.8rem;
font-weight: 700;
color: #282528;
line-height: 1;
padding: 0 5px 0 0;
}
h2 small{
font-size: 1.4rem;
color: #646464;
font-weight: 300;
}
.container {
max-width: 1175px;
margin: 0 auto;
}
.row {
display: flex;
justify-content: space-between;
}
.col {
width: 100%;
margin: 15px;
}
.col-1--4 { 
max-width: 270px;
}
.working-profile{
position: relative;
padding: 100% 0 0 0;
overflow: hidden;
}
.working-profile__image{
position: absolute;
width: 100%;
height: 100%;
object-fit: cover;
top: 0;
left: 0;

}
.working-profile__overlay{
position: absolute;
background-color:#2ca8c6;
width: 100%;
height: 100%;
top: 0;
left: 0;
display: flex;
align-items: center;
opacity: 0;
transition: opacity .5s ease-in-out;
}
.socials{
display: flex;
margin: 0 auto;
}
.socials__link{
font-size: 2.4rem;
background-color: rgba(255,255,255,.3);
display: block;
max-width: 45px; 
margin: 0 5px ; 
padding: 10px; 
text-align: center;
color: #fff;

} 
.socials__link--big{
padding: 10px 15px; 
}
.working-profile:hover .working-profile__overlay{
opacity: 1;
}
.socials__link--blue,
.socials__link--red{
transition: color .5s ease-in-out; 
}
.socials__link:hover .socials__link--blue,
.socials__link:active .socials__link--blue,
.socials__link:focus .socials__link--blue{
    color: blue;
} 

.socials__link:hover .socials__link--red,
.socials__link:active .socials__link--red,
.socials__link:focus .socials__link--red{
    color: red;
}












